__pycache__/
*.py[cod]
*$py.class
*.log
*.sqlite3
.env
venv/
.venv/
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
.aws/
.vscode/
.idea/
*.png
*.svg
*.pdf
*.html
*.bak
*.tmp
~$*
*.zip
*.pid
